/* ********************************* variable couleurs **************************************** */
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$primaryback: #f6f6f6;
$secondaryback: #eaeaea;
/* ********************************* mixin ombre de box **************************************  */
@mixin shadowbox{
    border: 0px transparent solid;
    box-shadow: 3px 3px 8px #e0e0e0,-1px -1px 10px #f1f1f1;
}
/* ********************************* mixin bouton menu **************************************** */
@mixin menu{
    display: flex;
    flex-direction: column;
    margin: 20px;
    @include shadowbox;
    overflow: hidden;
    border-radius: 20px;
    height: 250px;
    position: relative;
}
/* ********************************* mixin vignette restaurant ******************************** */
@mixin nouveau{
    position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 20px;
            top: 15px;
            background-color: $tertiary;
            color: #008766;
            font-family: "roboto-light";
            text-shadow: 2px 2px 4px #39a98e;
            font-weight: bold;
            height: 30px;
            padding: 3px 15px;
            border-radius: 3px;
}
/* ******************************** mixin coeur favoris *************************************** */
@mixin favorite{
        color: #969696;
        font-size: 14px;
}
/* **************************** mixin titre vignette restaurant ******************************* */
@mixin titre{
    font-family: "roboto";
    font-size: 20px;
    padding: 0 15px;
}

@font-face
{
    font-family: "shrikhand";
    src: url("../font/Shrikhand-Regular.ttf");
}
@font-face {
    font-family: "roboto";
    src: url("../font/Roboto-Regular.ttf");
}

@font-face {
    font-family: "roboto-light";
    src: url("../font/Roboto-Light.ttf")
}
/* ************************************* header *********************************************** */
body{
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    position: sticky;
    background-color: white;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 1;
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .logo_img{
            width: 150px;
        }
        .fas{
            position: absolute;
            left: 25px;
            top: 20px;
        }
    }
}
/* ************************************** localisation **************************************** */
.info{
    .en-tete{
        background-color: $primaryback;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
        .location{
            background-color: $secondaryback;
            border-top: 2px #cfcfcf solid;
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .fas{
            display: flex;
            align-items: center;
            margin: 0 15px 3px 0;
        }
        .location_txt{
            font-family: "roboto-light";
            font-weight: bold;
        }
    }
    .description{
        display: flex;
        flex-direction: column;
        text-align: center;
        .title{
            font-size: 24px;
            padding: 0 30px;
            margin: 25px 0 10px 0;
            font-family: "roboto";
        }
        .title-p{
            margin: 0 0 25px 0;
            padding: 0 10px;
            font-family: "roboto-light";
            color: #353535
        }
    }
    button{
        background: linear-gradient(350deg,$primary,$secondary);
        padding: 15px 20px;
        color: white;
        @include shadowbox;
        border-radius: 25px;
        font-size: 16px;
        font-weight: bold;
        &:hover{
            cursor: pointer;
            box-shadow: 5px 5px 8px #cacaca, -3px -3px 10px #cacaca;
            opacity: 0.9;
        }
    }
}
/* ************************************** Foncionnement *****************************************/
.fonctionnement{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0 40px 0;
    .fonctionnement-titre{
        @include titre;
    }
    .nav{
        position: relative;
        display: flex;
        align-items: center;
        @include shadowbox;
        border-radius: 15px;
        background-color: $primaryback;
        margin: 0 20px 25px 20px;
        padding: 10px 0;
        .div-number{
            position: absolute;
            left: -10px;
                .number{
                    background-color: $primary;
                    color: white;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: "roboto-light";
                    font-size: 12px;
                }
        }
            
        .fas{
            color: #7e7e7e;
            width: 20px;
            display: flex;
            justify-content: center;
            margin: 0 15px 0 20px;
        }
        .nav-p{
            font-family: "roboto";
            font-size: 16px;
            font-weight: bold;
        }
    }
    .nav-pink{
        background-color: #f5edff;
        .fas-pink{
            color: $primary;
        }
    }
}
/* ************************************ vignette menu ***************************************** */
.restaurants{
    background-color: $primaryback;
    width: 100%;
    padding: 40px 0;
    .menu{
        @include menu;
        .restaurant-img{
            width: 100%;
            height: 175px;
            object-fit: cover;  
        }
        .restaurant-description{
            height: 75px;
        }
        .new{
            @include nouveau;
        }
        .placement-fav{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 25px;
            bottom: 25px;
            .favorite{
                @include favorite;
            }
            .fav-anim{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                opacity: 0;
                height: 28px;
                width: 28px;
                transform-origin: center bottom;
                .fas{
                    background-image : linear-gradient(180deg,$primary,$secondary);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    font-size: 28px;
                }
                &:active{
                    animation: 500ms ease-in coeur;
                    animation-fill-mode: forwards;
                }
            }
        }

        @keyframes coeur{
            0%{
                opacity: 0;
                transform:scale(0)
            }
            100%{
                opacity: 1;
                transform:scale(1)
            }
        }
    }
    .restaurant-titre{
        @include titre;
    }
    .restaurant-p{
        font-family: "roboto";
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 0;
        margin-left: 5px;
    }
    .restaurant-txt{
        font-family:  "roboto-light";
        margin-top: 0;
        margin-left: 5px;
    }
}
/* ************************************ footer ************************************************ */
.footer{
    background-color: #353535;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px 20px 40px 20px;
    .logo{
        margin-bottom: 10px;
        color: white;
        .img{
            width: 100px;
            filter: invert(100%);
            -webkit-filter: invert(100%);
        }
    }
    
    .bolder{
        display: flex;
        align-items: center;
        .fa-utensils{
            width: 15px;
        }
        .bolder-txt{
            font-family: "roboto-light";
            font-size: 14px;
            margin: 5px 10px;
            font-weight: bold;
            &:hover{
                color: $primary;
                cursor: pointer;
            }
        }
    }
    .light{
        width: 110px;
        .light-txt{
            font-family: "roboto-light";
            font-size: 14px;
            margin: 0 0 5px 0;
            &:hover{
                color: $tertiary;
                cursor: pointer;
            }
            .lien{
                color: white;
                text-decoration: none;
                &:hover{
                    color: $tertiary;
                }
            }
        }
    }
}

.loader{
    border: 10px solid #F3F3F3;
    border-top: 10px solid $primary;
    border-bottom:  10px solid $secondary;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-animation: spin 2s linear, opacity 3s;
    -o-animation: spin 2s linear, opacity 3s ease;
    animation: spin 2s linear, opacity 3s ease;
    animation-fill-mode: forwards;
    /*  placement milieu de page */
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

/* animation loader */
@-webkit-keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes spin{
    0%{
        opacity: 1;
        -webkit-transform: rotate(0deg);
    }
    100%{
        opacity: 0;
        -webkit-transform: rotate(360deg);
    }
}
@keyframes main1{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.main1{
    opacity: 0;
    animation: 1000ms ease-in main1 1.5s;
    animation-fill-mode: forwards;
}
/* ************************************ pages annexes **************************************** */
@mixin menu-p2{
        display: flex;
        flex-direction: column;
        margin: 20px;
        @include shadowbox;
        border-radius: 20px;
        position: relative;
        background-color: white;
        overflow: hidden;
        opacity: 0;
}

@mixin price{
    position: absolute;
    display: flex;
    align-items: flex-end;
    right: 15px;
    bottom: 0;
    font-weight: bold;
    font-family: "roboto";
    font-size: 14px;
    height: 50px;
    width: 50px;
}

@mixin check{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -80px;
    background-color: $tertiary;
    height: 80px;
    width: 80px;
}

/* *********************************** header avec retour arrière ***************************** */
.header2{
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    z-index: 1;
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .logo_img{
            width: 150px;
        }
        .fas{
            position: absolute;
            left: 25px;
            top: 20px;
        }
    }
}
/* ************************************* corps de la page ********************************** */
.main{
    position: relative;
    .fond-page{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .p2{
        background-color: #f6f6f6;
        position: absolute;
        width: 100%;
        top: 200px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        .p2-title{
            display: flex;
            align-items: center;
            .title-p2{
                font-family: "shrikhand";
                font-size: 23px;
                font-weight: 100;
                    margin: 25px 35px 15px 20px;
            }
            .placement-fav{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 25px;
                top: 25px;
                .heart-size{
                    height: 28px;
                    width: 28px;
                    font-size: 14px;
                    .far{
                        color: #969696;
                    }
                }
            }
            .fav-anim2{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                opacity: 0;
                height: 28px;
                width: 28px;
                transform-origin: center bottom;
                .fas{
                    background-image : linear-gradient(180deg,$primary,$secondary);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    font-size: 28px;
                }
                &:active{
                    animation: 500ms ease-in coeur;
                    animation-fill-mode: forwards;
                }
            }
        }
        /* ****************** Entrée, plat, déssert ***************** */
        .type-plat{
            font-family: "roboto-light";
            margin-bottom: 3px;
            margin-left: 20px;
        }
        /* ********************** bordure verte ********************* */
        .border-bottom{
            height: 2px;
            width: 40px;
            background-color: $tertiary;
            margin-left: 20px;
        }
        /* ******************* vignette menu ************************ */
        @keyframes menu-p2-transition{
            0%{
                opacity: 0;
                transform: translateY(20px);
            }
            100%{
                opacity: 1;
                transform: translateY(0)
            }
        }
        .menu-p2{
            @include menu-p2;
            &:nth-child(2){
                animation: 1000ms ease-in menu-p2-transition;
                animation-fill-mode: forwards;
            }
            &:nth-child(3){
                animation: 1000ms ease-in 200ms menu-p2-transition;
                animation-fill-mode: forwards;
            }
            &:nth-child(4){
                animation: 1000ms ease-in 400ms menu-p2-transition;
                animation-fill-mode: forwards;
            }
            &:hover{
                cursor: pointer;
                &:hover > .check{
                    right : 0px;
                }
                &:hover > .price{
                    right: 60px
                }
                &:hover > .restaurant-txt, .restaurant-p{
                    width: 60%
                }
                &:hover > .check > .fas{
                    transform: rotate(0); 
                }
            }
            &:active{
                .check{
                    right : 0px;
                }
                .price{
                    right: 60px
                }
                .restaurant-txt, .restaurant-p{
                    width: 60%
                }
                .check > .fas{
                    transform: rotate(0); 
                }
            }
            .check{
                @include check;
                transition : right 500ms ease-in-out;
                .fas{
                    color: white;
                    transform: rotate(-360deg);  transition: transform 500ms ease-in-out;
                }
            }
            .price{
                @include price;
                transition: right 500ms ease-in-out;
            }
            .restaurant-p{
                font-family: "roboto";
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 0;
                margin-left: 10px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 80%;
                transition: width 500ms ease-in-out;
            }
            .restaurant-txt{
                font-family: "roboto-light";
                font-size: 14px;
                margin-top: 5px;
                margin-left: 10px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                width: 75%;
                transition: width 500ms ease-in-out;
            }
        }
        /* ********************** boutton commander ****************** */
        .button{
            display: flex;
            justify-content: center;
            margin: 40px 0;
            .btn{
                opacity: 1;
                background-image: linear-gradient(350deg,$primary,$secondary);
                padding: 15px 40px;
                color: white;
                @include shadowbox;
                border-radius: 25px;
                font-size: 14px;
                font-weight: bold;
                transition: all 200ms ease-in;
                &:hover{
                    cursor: pointer;
                    box-shadow: 5px 5px 8px #cacaca, -3px -3px 10px #cacaca;
                    opacity: 0.9;
                }
            }
        } 
    }
}

/* ************************ responsive *************************************** */
@media screen and (min-width: 426px){
    .fonctionnement{
        align-items: center;
        .nav{
            width: 350px;
        }
    }
}

@media screen and (min-width: 769px) {
    .restaurants{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .restaurant-titre{
            width: 100%;
        }
        .menu{
            width: 43%;
        }
    }
}

@media screen and (min-width: 1025px) {
    .fonctionnement{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        .fonctionnement-titre{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .nav{
            width: 29%;
        }
    }
    .main{
        .p2{
            display: flex;
            flex-wrap: wrap;
            .p2-title{
                width: 100%;
            }
            .menu-responsive{
                width: 33%;
            }
            .footer-responsive{
                width: 100%;
            }
            .button{
                width: 100%;
            }
        }
    }
    
}
